@charset "UTF-8";

$blue-color1: #165683;
$blue-color2: #10466B;
$blue-color3: #155E91;
$blue-color4: #0D3856;
$blue-color5: #1B77B8;
$blue-color6: #24A1f7;

html, body { 
    width: 100%;
    height: 100%;
    margin: 0; 
}

header {
    position: absolute;
    right: 0%;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 1;
    
    a {
        opacity: 0.7;
        margin-right: 8px;
        
        &:hover {
            opacity: 1;
        }
        
        img {
            width: 28px;
        }
    }
}

.kilter-top-container {
    width: 100%;
    height: 94%;
    background: #1F1F21 url(../images/KILTER-Logo-Large.png) no-repeat;
    background-position: 110% 20%;

    .kilter-download-container {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 4%;

        -webkit-transform: translateY(-50%) translateX(0%);
        -mozilla-transform: translateY(-50%) translateX(0%);
        -o-transform: translateY(-50%) translateX(0%);
        -ms-transform: translateY(-50%) translateX(0%);
        transform: translateY(-50%) translateX(0%);     
    }
    
    .kilter-download-slugline {
        h1 {
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 50px;
            color: #FFF;
            text-transform: uppercase;
            margin: 0 0 10px;
        }
    }
    
    .kilter-download-button {
        width: 40%;
        height: 70px;        
        float: left;
//        border: #FFF 2px solid;        
        box-sizing: border-box;
        -moz-box-sizing: border-box;    
        text-align: center;
        padding: 24px 0;
        margin-right: 10px;

        a {
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 16px;
            color: #FFF;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        &:hover {
            cursor: pointer;
            background: #FFF;
            
            a {
                color: #1F1F21;
            }
        }
    }
    
    .kilter-download-ios {
        background: $blue-color1;
    }

    .kilter-download-android {
        background: $blue-color2;
    }
    
    .kilter-image-container {
        position: absolute;
        top: 59%;
        left: 70%;

        -webkit-transform: translateY(-41%) translateX(-50%);
        -mozilla-transform: translateY(-41%) translateX(-50%);
        -o-transform: translateY(-41%) translateX(-50%);
        -ms-transform: translateY(-41%) translateX(-50%);
        transform: translateY(-41%) translateX(-50%);    
    }    
}

.kilter-main-container {
    width: 100%;
    height: 100%;
}

.kilter-square-container {
    width: 33.333%;
    height: 50%;
    overflow: hidden;
    float: left;
    position: relative;
}

.kilter-image-container {
    position: absolute;
    top: 70%;
    left: 50%;
    
    -webkit-transform: translateY(-30%) translateX(-50%);
    -mozilla-transform: translateY(-30%) translateX(-50%);
    -o-transform: translateY(-30%) translateX(-50%);
    -ms-transform: translateY(-30%) translateX(-50%);
    transform: translateY(-30%) translateX(-50%);    
}

.boxTL {
    background: $blue-color1;
}

.boxTC {
    background: $blue-color2;
}

.boxTR {
    background: $blue-color3;
}

.boxBL {
    background: $blue-color4;
}

.boxBC {
    background: $blue-color5;
}

.boxBR {
    background: $blue-color6;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    
    .kilter-top-container {
        background: #1F1F21 url(../images/KILTER-Logo-Large.png) no-repeat;
        background-position: 110% 20%;

        .kilter-download-container {
            width: 36%;
        }

        .kilter-download-slugline {
            h1 {
                font-size: 37px;
                color: #FFF;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
        }        
        
        .kilter-download-button {
            width: 100%;
            margin-bottom: 5px;
        }

        .kilter-image-container {
            top: 70%;
            left: 70%;

            -webkit-transform: translateY(-30%) translateX(-50%);
            -mozilla-transform: translateY(-30%) translateX(-50%);
            -o-transform: translateY(-30%) translateX(-50%);
            -ms-transform: translateY(-30%) translateX(-50%);
            transform: translateY(-30%) translateX(-50%);    
        }    
    }    
    
    
    .kilter-square-container {
        width: 100%;    
    }
    
    .kilter-image-container {
        img {
            width: 198px;
        }
    }
}